.Footer {
    background-color: rgba(0, 0, 0, 0.7); /* Light black background */
    color: #fff; /* White text color */
    padding: 20px 0; /* Padding around footer content */
}

.Footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.Footer-left {
    flex: 1;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.Footer-social-media img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding: 5px;
}

.Footer-center,
.Footer-right {
    flex-basis: 20%;
}

.Footer-center h2,
.Footer-right h2 {
    color: #fff; /* White header color */
    margin-bottom: 10px;
}

.Footer-center ul,
.Footer-right ul {
    list-style: none;
    padding: 0;
}

.Footer-center li,
.Footer-right li {
    margin-bottom: 5px;
}

.Footer-copyright {
    text-align: center;
    margin-top: 20px;
    color: #fff; /* White text color */
    font-size: 14px;
}
.Footer-left p {
    padding: 10px 20px 20px 10px; /* top, right, bottom, left */
}
hr {
    width: 90%;
    margin: 0 auto; /* Center the <hr> element horizontally */
}
